<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"mwm-main","layout":{"type":"default"}} -->
<main class="wp-block-group mwm-main">
<!-- wp:group {"tagName":"article","className":"mwm-page","layout":{"type":"default"}} -->
<article class="wp-block-group mwm-page">
<!-- wp:acf/lesson-header {"name":"acf/lesson-header","mode":"preview"} /-->
<!-- wp:acf/lesson-content {"name":"acf/lesson-content","mode":"preview"} /-->
<!-- wp:acf/lesson-next {"name":"acf/lesson-next","mode":"preview"} /-->
</article>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
